/team1-digi/               @bank-data-contracts/team1-digi
/team2-Data-Governance/    @bank-data-contracts/team2-DataGov
/team3-client-service/     @bank-data-contracts/team3-client-service
/team4-steering-data/      @bank-data-contracts/team4-steering-data
/team5-esg-risk/           @bank-data-contracts/team5-esg-risk
/team6-strategy/           @bank-data-contracts/team6-strategy
/team7-gen-ai/             @bank-data-contracts/team7-icm-genai
/team8-investment-banking/ @bank-data-contracts/team8-investment-banking

